/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Hide Scalar navbar links added by plugin (they show "Scalar" text) */
a.navbar__item[href='/scalar']:not([href*='/en']),
a.navbar__item[href='/en/scalar'],
a.navbar__item[href*='/scalar'] {
  display: none !important;
}

/* Hide manual API Reference links based on locale */
/* Hide English API Reference link when on Spanish locale (default, no /en prefix) */
html:not([lang='en-US']) a.navbar__item[href='/en/scalar'],
html:not([lang='en-US']) a.navbar__item[href*='/en/scalar'] {
  display: none !important;
}

/* Hide Spanish API Reference link when on English locale (with /en prefix) */
html[lang='en-US'] a.navbar__item[href='/scalar']:not([href*='/en']),
html[lang='en-US'] a.navbar__item[href='/scalar'] {
  display: none !important;
}

/* Alternative: Hide based on pathname */
body:not([class*='en']) a.navbar__item[href='/en/scalar'],
body:not([class*='en']) a.navbar__item[href*='/en/scalar'] {
  display: none !important;
}

body[class*='locale-en'] a.navbar__item[href='/scalar']:not([href*='/en']),
body[class*='locale-en'] a.navbar__item[href='/scalar'] {
  display: none !important;
}
